.Desktopnav {
  display: flex;
  height: 100px;
  margin: 0 100px;
  align-items: center;
  justify-content: flex-end;
  gap: 24px;
  text-transform: uppercase;
  /* 
  if fixed on top
  
  width: calc(100vw - 600px);
  position: fixed;
  left: 300px; */
}

.Desktopnav :first-child,
.Mobilenav :first-child {
  margin-right: auto;
}

.Mobilenav {
  display: flex;
  height: 70px;
  margin: 0 24px;
  align-items: center;
  justify-content: flex-end;
  gap: 24px;
  text-transform: uppercase;
}

.navitem:hover {
  color: var(--merlot-blue);
}

.activeIndicator {
  text-decoration: underline;
}

@media only screen and (min-width: 1024px) {
  .Desktopnav {
    margin: 0 150px;
  }
}

@media only screen and (min-width: 1440px) {
  .Desktopnav {
    margin: 0 200px;
  }
}
